@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .no-arrows{
        -webkit-appearance: none;
        -moz-appearance: textfield;
    }
  }

@layer components{
    
    .auternating:nth-child(odd) {
        @apply bg-base-light;
    }

}

#root{
    min-height: 100vh;
    min-width: 100%;
}
/* 
@keyframes example {
    25%   {color: transparent;}
    100% {height: 0;}
  } */